# Frontend
NEXT_PUBLIC_ENV=development

# Backend
GO_ENV=development
SERVER_ADDRESS=0.0.0.0:8080

# MySQL
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=gophersignal
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password

# Ollama Configuration
OLLAMA_BASE_URL=http://localhost:11434/api
OLLAMA_MODEL=llama3:instruct
